/* This is a comment test */
* {
  color: rgb(0, 0, 0);
}

h1 { /* Header */
  text-align: center;
  font-size: 50px;
}

h6 { /* Disclaimer */
  font-size: 14px;
}

p {
  /* font-family: verdana; */
  font-size: 17px;
}

.content {
  justify-content: center;
}

.disclaimer {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: flex-end;   /* Align to the bottom */
  height: 55%;
  text-align: center;   /* Center text inside the div */
}