/* This is a comment test */
* {
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 0;
}

html, body {
  height: 100%;
  box-sizing: border-box;
  margin: 4px;
}

body {
  display: flex;
  flex-direction: column;
}

mark {
  font-style: italic;
  font-weight: bolder;
  background-color: white;
}

h1 { /* Header */
  font-size: 50px;
}

h6 { /* Disclaimer */
  font-size: 14px;
}

p {
  /* font-family: verdana; */
  font-size: 17px;
}

.content {
  justify-content: center;
}

footer {
  padding: 10px;
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: flex-end;   /* Align to the bottom */
  height: 100%;
}
